---
Checks: '-clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,readability-*,cert-*,bugprone-*,misc-*,openmp-*,performance-*,portability-*,hicpp-*,google-*,-readability-function-cognitive-complexity,-bugprone-branch-clone,-hicpp-signed-bitwise,-misc-use-anonymous-namespace,-misc-no-recursion,-modernize-use-trailing-return-type,-misc-include-cleaner,-cppcoreguidelines-owning-memory,-bugprone-easily-swappable-parameters,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-readability-isolate-declaration,-cppcoreguidelines-pro-bounds-constant-array-index,-readability-avoid-const-params-in-decls,-performance-enum-size,-bugprone-narrowing-conversions,-cppcoreguidelines-narrowing-conversions,-readability-avoid-nested-conditional-operator,-bugprone-suspicious-include,-cppcoreguidelines-special-member-functions,-hicpp-special-member-functions,-readability-identifier-length,-bugprone-unchecked-optional-access'
HeaderFilterRegex: ''
FormatStyle: none
InheritParentConfig: true
IgnoreClassesWithAllMemberVariablesBeingPublic: true
CheckOptions:
  readability-braces-around-statements.ShortStatementLines: 1
  readability-function-size.LineThreshold: 800
  readability-identifier-naming.ClassMemberPrefix: m_
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
