# Output folders and files
/.vs/
/tests/gui-tests/.vs/
/tests/gui-tests/bin/
/tests/gui-tests/out/
/tests/.vs
/tests/out
/tests/bin
/app/
/build/
/out/
/docs/doxygen/html/
/docs/syntax-manual/_book
/docs/syntax-manual/.quarto
/docs/syntax-manual/_main.log
/docs/syntax-manual/manual
/docs/syntax-manual/WisteriaSyntaxReferenceManual.tex
/tools/ColorCode.txt
/tools/ColorReportMap.txt
/wxWidgets_lib
/docs/syntax-manual/.gitignore
/docs/syntax-manual/site_libs

# Compiler helper files
CMakeSettings.json
cpp.hint

# Compiler project files
*.kdev4
*.Rhistory
.Rproj.user

# Any documents
*.docx
*.doc
*.ods
*.xlsx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.manifest
/tests/gui-tests/wxWidgets_lib
