[submodule "src/easyexif"]
	path = src/easyexif
	url = https://github.com/asmaloney/easyexif
[submodule "docs/doxygen/doxygen-awesome-css"]
	path = docs/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "src/wxSimpleJSON"]
	path = src/wxSimpleJSON
	url = https://github.com/Blake-Madden/wxSimpleJSON.git
[submodule "src/CRCpp"]
	path = src/CRCpp
	url = https://github.com/d-bahr/CRCpp.git
[submodule "src/utfcpp"]
	path = src/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "src/i18n-check"]
	path = src/i18n-check
	url = https://github.com/Blake-Madden/i18n-check.git
	branch = main
