# Output folders and files
/.vs/
/tests/gui-tests/.vs/
/tests/gui-tests/bin/
/tests/gui-tests/out/
/tests/.vs
/tests/out
/tests/bin
/app/
/build/
/out/
/docs/doxygen/html/
/docs/syntax_manual/_book
/docs/syntax_manual/.quarto
/docs/syntax_manual/_main.log
/docs/syntax_manual/manual
*.tex
/tools/ColorCode.txt
/tools/ColorReportMap.txt

# Compiler helper files
CMakeSettings.json
cpp.hint

# Compiler project files
*.kdev4
*.Rhistory
.Rproj.user

# Any documents
*.docx
*.doc
*.ods
*.xlsx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.manifest
