name: Spell Check
on: [push, pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
env:
  CLICOLOR: 1

jobs:
  typos:
    name: Spell Check with Typos & codespell
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Run Typos
      uses: crate-ci/typos@v1.35.1
      with:
        config: ./.typos.toml
    - name: Install codespell
      run: |
          pip install codespell
    - name: Run codespell
      run: |
          codespell src/ *.md -L berkley,currenty,lightening,pard,ment,ue,oder,fallow,headerr,curren,fo,notin,bale,oint
          rc=$?
          if [ $rc != 0 ]; then
          cat <<EOF

          =================================== ERROR ===================================
          Spell check failed, please correct the spelling mistakes at the locations
          listed above. If any of the reported mistakes are false positives, please add
          the lines provoking them to misc/suppressions/codespell-lines file or, if
          there are many occurrences of the same word, add this word to codespell-words
          file in the same directory.
          EOF
          >& 2
              exit $rc
          fi
 